.contact-wrapper{
  margin: 2vh 5vw 2vh 5vw;
  padding: 10vh 0 5vh 0;
}

.contact-intro p{
  padding: 1vh 0 1vh 0;
  font-size: 2rem;
}

.contact-intro{
  padding: 0 0 3vh 0;
}

.container-contact-page{
  max-width: 1320px;
  margin: 0 auto;
}

.contact-method-list{
  list-style: none;
  margin: 3vh 0;
  padding: 0;
}

.contact-icons{
  text-align: center;
  color: #3c035d;
  padding: 20px;
  width: 70px;
}

.contact-info-left{
  height: 100%;
  background-color: #FDF9FA;
  border-radius: 15px;
  text-align: center;
  padding: 35px;
}

.contact-info-left-inner{
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact-info-right{
  text-align: center;
  height: 100%;
  background-color: #FDF9FA;
  border-radius: 15px;
  padding: 35px;
  p{
    padding-top: 4vh;
    font-size: 2rem;
  }
}

.contact-quote-text{
  margin-bottom: 10%;
}

.contact-info-bottom{
  text-align: center;
  background-color: #FDF9FA;
  border-radius: 15px;
  margin: 2vh 0 0 0;
  padding: 4vh 2vw 4vh 2vw;
  h3{
    margin-top: 0;
    margin-bottom: 4vh;
  }
}

.opening-times-wrapper{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  height: 30vh;
  min-width: 300px;
  padding: 2%;
}

.opening-times{
  h4{
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.contact-hours-list{
  font-size: 1.5rem;
}

.contact-info{
  font-size: 2rem;
  padding-left: 10px;
  text-align: left;
}

.contact-info-hours{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.opening-time-left{
  padding: 5px;
  text-align: center;
}

.opening-time-right{
  padding: 5px;
  text-align: center;
}

.contact-info-map{
  position: relative;
  max-width: 580px;
}

.showroom-image{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  height: 8vh;
  border-radius: 15px 0px;
}

.showroom-image:hover{
  height: 15vh;
  transition: 1s;
}

#map{
  border-radius: 15px;
  width: 100%;
  max-width: 580px;
  height: 30vh;
}

.contact-address{
  margin-top: 4vh;
  font-weight: 400;
  font-size: 1.5rem;
  p{
    margin: 0;
  }
}

@media (max-width: 768px) {

  .contact-info-right p {
    padding-top: 2vh;
}

  .contact-info-bottom{
    margin: 4vh 0 0 0;
    h3{
      margin-bottom: 0vh;
    }
  }
}
