.contact-wrapper{
  margin: 2vh 5vw 2vh 5vw;
  padding: 10vh 0;
}

.contact-info-section p{
  padding: 2vh 0 2vh 0;
  font-size: 2rem;
}

.contact-method-list{
  list-style: none;
  margin: 3vh 0;
}

.contact-icons{
  text-align: center;
  color: #3c035d;
  padding: 20px;
}

.contact-info-left{
  text-align: center;
  display: flex;
  justify-content: center;
  height: 30vh;
  background-color: #FDF9FA;
  border-radius: 15px;
}

.contact-info-right{
  text-align: center;
  height: 30vh;
  background-color: #FDF9FA;
  border-radius: 15px;
}

.contact-info{
  font-size: 2rem;
}

.contact-info-list-item{
  align-items: center;
  display: flex;
}
