.contact-wrapper{
  margin: 2vh 5vw 2vh 5vw;
  padding: 10vh 0;
}

.contact-info-section p{
  padding: 2vh 0 2vh 0;
  font-size: 2rem;
}

.contact-method-list{
  list-style: none;
  margin: 3vh 0;
  padding: 0;
}

.contact-icons{
  text-align: center;
  color: #3c035d;
  padding: 20px;
  width: 70px;
}

.contact-info-left{
  height: 100%;
  background-color: #FDF9FA;
  border-radius: 15px;
  margin: 0vh 2vh 0vh 2vw;
  text-align: center;
  padding: 25px;
}

.contact-info-left-inner{
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact-info-right{
  text-align: center;
  height: 100%;
  background-color: #FDF9FA;
  border-radius: 15px;
  margin: 0vh 2vh 0vh 2vw;
  padding: 25px;
}

.contact-quote-text{
  margin-bottom: 10%;
}

.contact-info-bottom{
  text-align: center;
  background-color: #FDF9FA;
  border-radius: 15px;
  margin: 4vh 2vw 0vh 2vw;
}

.contact-hours-list{
  list-style: none;
  margin: 20px;
}

.showroom-image{
  border-radius: 15px;
  width: 60%;
}

.contact-info{
  font-size: 2rem;
}

.contact-info-list-item{
  align-items: center;
  display: flex;
}
