// Specific CSS for your home-page
.fa-solid{
  color: #0A1045;
  padding: 20px;
}

.home-icons{
  width: 100%;
  text-align: center;
}

.home-subheaders{
  width: 100%;
  text-align: center;
}

.icon-text{
  width: 100%;
  text-align: center;
}

.home-header{
  text-align: center;
  margin: 40px;
  font-weight: bold;
}
