// Specific CSS for your home-page
.fa-solid{
  color: #0A1045;
  padding: 20px;
}

.home-icons{
  width: 100%;
  text-align: center;
}

.home-subheaders{
  width: 100%;
  text-align: center;
}

.icon-text{
  width: 100%;
  text-align: center;
}

.home-header{
  text-align: center;
  margin: 20px;
  font-weight: bold;
}

.home-about-section{
  background-color: #FDF9FA;
  padding: 60vh 0 3vh 0;
}

.home-icon-with-text{
  padding: 3vh 2vw 3vh 2vw;
}
