
.materials-intro-section{
  width: 90vw;
  margin: 2vh 5vw 2vh 5vw;
  padding: 10vh 0 1vh 0;
  p{
    padding: 2vh 0 2vh 0;
    font-size: 2rem;
  }
}

.material-display-section{
  padding: 2vh 5vw 2vh 5vw;
  background-color: #FDF9FA;;
}

.materials-tab-list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  li{
    list-style: none;
    padding: 3vh 4vw 3vh 4vw;
    font-size: 2rem;
    cursor: pointer;
  }
}

.inactive-materials-section{
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.material-overview{
  p{
    font-size: 1.5rem;
  }
}

.material-tile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3vh 0 1vh 0;
    span{visibility: hidden;
    }
    p{
      padding-top: 2vh;
      font-size: 1.5rem;
    }
}

.materials-tile{
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.brand-tile-overlay{
    width: 50%;
    img{
      width: 40%;
      position: absolute;
      right: 30%;
      top: 3vh;
    }
}

.material-tile-wrapper:hover{
  span{
    visibility: visible;
  }
}

.materials-end-section{
  width: 90vw;
  margin: 4vh 5vw 4vh 5vw;
  font-size: 2rem;
  p{
    margin-bottom: 2vh;
  }
}
.materials-end-section p a{
  color: #3c035d;
  font-weight: bold;
  text-decoration: none;
}

.selected-material{
  font-weight: bold;
  color: #3c035d;
  text-decoration: underline;
}
