.requirements-intro-section{
  width: 90vw;
  margin: 2vh 5vw 2vh 5vw;
  padding: 10vh 0 1vh 0;
  p{
    padding: 2vh 0 2vh 0;
    font-size: 2rem;
  }
}

.requirements-steps{
  height: 100%;
  background-color: #FDF9FA;
  border-radius: 15px;
  text-align: center;
  padding: 35px;
    p{
    font-size: 1.5rem;
  }
}

.requirements-steps-outer{
  margin-top: 5px;
  margin-bottom: 5px;
}

.quote-build-wrapper{
  margin: 2vh 5vw 2vh 5vw;
}

.requirement{
  width: 40vw;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  background-color: #FDF9FA;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: solid #3c035d 2px;
}

.requirement:hover{
  background-color: #fffdfd;
}

.requirement-icons{
  text-align: center;
  color: #3c035d;
  padding: 10px;
}

.requirement-name{
  p{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 !important;
  }
}

@media (max-width: 575px) {

  .requirement{
    width: 80vw;
  }

}
