.requirements-intro-section{
  width: 90vw;
  margin: 2vh 5vw 0vh 5vw;
  padding: 10vh 0 1vh 0;
  p{
    padding: 2vh 0 2vh 0;
    font-size: 2rem;
  }
}

.requirement-steps-wrapper{
  padding-bottom: 2vh;
}

.requirements-steps{
  height: 100%;
  background-color: #FDF9FA;
  border-radius: 15px;
  text-align: center;
  padding: 35px;
  margin: 5px;
    p{
    font-size: 1.5rem;
  }
}

.requirements-steps-outer{
  margin-top: 5px;
  margin-bottom: 5px;
}

.quote-build-wrapper{
  margin: 2vh 5vw 2vh 5vw;
  display: flex;
  justify-content: space-around;
}

.requirement{
  width: 40vw;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  background-color: #FDF9FA;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: solid #3c035d 2px;
}

.quote-build-right{
  text-align: center;
  padding: 1vh 1vw 3vh 1vw;
  width: 40vw;
}

.requirement-demo-slideshow-container{
  padding: 0 10% 0 10%;
}

.requirement-demo-slideshow{
  width: 100%;
  border-radius: 5px;
}

.hide-slide-image{
  visibility: hidden;
  height: 0;
  width: 0;
}

.requirement:hover{
  // background-color: #fffdfd;
  border: solid #14B8B5 2px;
  div i{
    color:#14B8B5;
  }
}

.requirement-icons{
  text-align: center;
  color: #3c035d;
  padding: 10px;
}

.requirement-name{
  p{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 !important;
  }
}

.selected-requirement{
  width: 100%;
}

@media (max-width: 767px) {

  .requirement{
    width: 80vw;
  }

  .quote-build-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

}
