<div class="requirements-intro-section">
  <h3 class="home-header">Get a quote</h3>
  <p>Let us know what you are looking for and we'll get back to you with our best estimate.</p>
</div>
<div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-12 requirements-steps-outer">
            <div class="requirements-steps requirement-step-one">
              <h3>Step 1</h3>
              <i class="fa-solid fa-ruler-combined fa-3x contact-icons"></i>
              <p>Measure your space.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 requirements-steps-outer">
            <div class="requirements-steps requirement-step-two">
              <h3>Step 2</h3>
              <i class="fa-solid fa-comment fa-3x contact-icons"></i>
              <p>Use our handy tool below to tell us what you would like.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 requirements-steps-outer">
            <div class="requirements-steps requirement-step-three">
              <h3>Step 3</h3>
              <i class="fa-solid fa-clock fa-3x contact-icons"></i>
              <p>Wait for us to get in touch with an estimate (usually 1-2 working days).</p>
            </div>
          </div>
      </div>
</div>
<div class="quote-build-wrapper">
  <div class="quote-build-left"></div>
  <% @requirements.each do |requirement|  %>
    <div class="requirement">
      <div class="requirement-question"><i class="fa-solid fa-circle-question requirement-icons fa-3x"></i></div>
      <div class="requirement-name"><p><%= requirement.name %></p></div>
      <div class="requirement-plus"><i class="fa-solid fa-circle-plus requirement-icons fa-3x"></i></div>
    </div>
    <% end %>
  <div class="quote-build-right"></div>
</div>
