<div class="gallery-wrapper-section">
  <div class="gallery-intro-section">
      <h1 class="home-header">Our work</h1>
      <p>A selection of some of our recent projects. Take a closer look by clicking on one below:</p>
  </div>
  <div class ="gallery-display-wrapper">
    <div class="container">
      <div class="row gallery-row">
      <% @gallery_items.each do |photo| %>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 gallery-item">
          <%= image_tag("gallery/#{photo.photos}", class:"gallery-tile") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="gallery-end-section">
    <p>Why not visit our showroom for a more hands-on experience of what we can deliver?</p>
  </div>
</div>
