<div class="home-banner">
		  		<div class="home-banner-text">
            <h1>From the quarry...</h1>
            <h1><span data-controller="typed-js"></span><span style="visibility: hidden;">|</span></h1>
				    <h3>We source, design and install the finest kitchen worktops in Manchester and the Northwest</h3>
                <div class="button-div" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
                  <a href="#" class="button-primary">Get a quote</a>
                </div>
			    </div>
          <div><%= image_tag "kitchen-main.jpg", class:"home-banner-image" %></div>
	    </div>
