<div class="home-banner">
		  		<div class="home-banner-text">
				    <h1>From the quarry to your kitchen</h1>
				    <h3>We source, design and install the finest kitchen worktops in Manchester and the Northwest</h3>
				    <div class="button-div">
				      <a href="#" class="button-primary">Get a quote</a>
            </div>
			    </div>
	    </div>
