<div class="banner-wrapper">
  <div id="home-banner-section" class="home-banner">
            <div id="home-banner-text-section" class="home-banner-text">
              <h1>From the quarry...</h1>
              <h1><span data-controller="typed-js"></span><span style="visibility: hidden;">|</span></h1>
              <h3>We source, design and install the finest kitchen worktops in Manchester and the Northwest</h3>
                  <div class="button-div" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
                    <div class="standard-button-styling">
                      <%= link_to "Contact us", contact_path, class: "button-primary" %>
                      <%# <a href="#" class="button-primary">Contact us</a> %>
                      <a href="#" class="button-secondary">Get a quote</a>
                    </div>
                  </div>
            </div>
            <div><%= image_tag "kitchen-main.jpg", class:"home-banner-image" %>
            </div>
  </div>
</div>
