<div class="footer">
  <div class="footer-inner-wrap">
    <ul class="list-inline">
            <li><i class="fa-brands fa-facebook fa-2xl"></i></li>
            <li><i class="fa-brands fa-instagram fa-2xl"></i></li>
            <li><i class="fa-brands fa-linkedin fa-2xl"></i></li>
    </ul>
    <div class="footer-lower-section">
      <div class="footer-company-info">
        <p>Company number: 11751503</p>
        <p>VAT number: 319 334 211</p>
      </div>
      <div class="footer-staff-login">
        <p>Our privacy policy</p>
         <% if user_signed_in? %>
         <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
         <% else %>
         <%= link_to "Staff login", new_user_session_path %>
         <% end  %>
      </div>
    </div>
  </div>
</div>
