<div class="navbar-gs">
  <div class="navbar-wrap">
    <div class="navbar-logo">Gillan & son</div>
      <ul class="navbar-links">
        <li>Home</li>
        <li>Our work</li>
        <li>Materials</li>
        <li>Get in touch</li>
      </ul>
  </div>
</div>
