<div class="navbar-gs">
  <div class="navbar-wrap">
    <div class="navbar-logo"><p>Gillan<br>& son</p>
    </div>
      <div class="dropdown-element">
        <button type="button" class="dropdown-button" aria-expanded="false" aria-controls="sweets-dropdown">
          <i class="nav-icon fa-solid fa-bars fa-3x"></i>
        </button>
        <ul class="navbar-links">
          <li class="home-button-nav">Home</li>
          <li>Our work</li>
          <li>Materials</li>
          <li>Get in touch</li>
        </ul>
      </div>
  </div>
</div>
