<div class="contact-wrapper">
  <div class="contact-info-section">
      <div class="contact-intro">
        <h3 class="home-header">Get in touch</h3>
        <p>Feel free to contact us directly, request a quote, or drop by our showroom in person. Our team will be happy to answer your questions or help you design the kitchen that fits your style and budget.</p>
      </div>
      <div class="container-contact-page">
        <div class="row gy-5 contact-info-top">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-left">
            <h3>&mdash; Direct contact &mdash;</h3>
              <div class="contact-info-left-inner">
                <ul class="contact-method-list">
                  <li class="contact-info-list-item"><i class="fa-solid fa-phone fa-3x contact-icons"></i><span class ="contact-info">0161 205 1827</span></li>
                  <li class="contact-info-list-item"><i class="fa-solid fa-mobile-screen fa-3x contact-icons"></i><span class ="contact-info">07968 312 915</span></li>
                  <li class="contact-info-list-item"><i class="fa-solid fa-envelope fa-3x contact-icons"></i><span class ="contact-info">info@hdgranite.co.uk</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-right">
              <div class="contact-quote-text">
                <h3>&mdash; Get a quote &mdash;</h3>
                <p>Already know what you're looking for? Use our handy builder to request an price estimate from us:</p>
              </div>
              <a href="#" class="button-primary">Get a quote</a>
            </div>
          </div>
        </div>
        <div class="row gy-5 contact-info-bottom">
        <h3>&mdash; Visit us &mdash;</h3>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-map">
              <div id='map' data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
              <div class="contact-address">
                <p>HD Granite & Quartz Ltd</p>
                <p>Unit 15</p>
                <p>Hendham Vale Industrial Park</p>
                <p>Manchester</p>
                <p>M8 0AD</p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-hours">
              <div class="showroom-image">
                <ul class="contact-hours-list">
                  <li class="opening-hours-list-item">Monday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Tuesday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Wednesday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Thursday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Friday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Saturday:	By appointment only</li>
                  <li class="opening-hours-list-item">Sunday:	By appointment only</li>
                </ul>
              </div>
            </div>
            <div class="contact-company-number">
              <p>Company number: 11751503</p>
              <p>VAT number: 319 334 211</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
