<div class="contact-wrapper">
  <div class="contact-info-section">
    <h3 class="home-header">Get in touch</h3>
    <p>Feel free to contact us directly, request a quote or drop by our showroom in person. Our team are happy to answer your questions or help you design the kitchen that fits your style and budget.</p>
      <div class="container">
        <div class="row gy-5 contact-info-top">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-left">
            <h3>&mdash; Direct contact &mdash;</h3>
              <div class="contact-info-left-inner">
                <ul class="contact-method-list">
                  <li class="contact-info-list-item"><i class="fa-solid fa-phone fa-3x contact-icons"></i><span class ="contact-info">0161 205 1827</span></li>
                  <li class="contact-info-list-item"><i class="fa-solid fa-mobile-screen fa-3x contact-icons"></i><span class ="contact-info">07968 312 915</span></li>
                  <li class="contact-info-list-item"><i class="fa-solid fa-envelope fa-3x contact-icons"></i><span class ="contact-info">info@hdgranite.co.uk</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-right">
              <div class="contact-quote-text">
                <h3>&mdash; Get a quote &mdash;</h3>
                <p>Already know what you're looking for? Use our handy builder to request an estimate from us:</p>
              </div>
              <a href="#" class="button-primary">Get a quote</a>
            </div>
          </div>
        </div>
        <div class="row gy-5 contact-info-bottom">
        <h3>&mdash; Visit us &mdash;</h3>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-map">
              <p>Map</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-hours">
              <div>
                <%= image_tag "showroom.png", class:"showroom-image" %>
              </div>
              <div>
                <ul class="contact-hours-list">
                  <li class="opening-hours-list-item">Monday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Tuesday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Wednesday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Thursday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Friday:	9am-5pm</li>
                  <li class="opening-hours-list-item">Saturday:	By appointment only</li>
                  <li class="opening-hours-list-item">Sunday:	By appointment only</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
