<div class="contact-wrapper">
  <div class="contact-info-section">
    <h3 class="home-header">Get in touch</h3>
      <div class="container">
        <div class="row gy-5 contact-info-top">
          <div class="contact-info-left col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul class="contact-method-list">
              <li class="contact-info-list-item"><i class="fa-solid fa-phone fa-3x contact-icons"></i><span class ="contact-info">0161 205 1827</span></li>
              <li class="contact-info-list-item"><i class="fa-solid fa-mobile-screen fa-3x contact-icons"></i><span class ="contact-info">07968 312 915</span></li>
              <li class="contact-info-list-item"><i class="fa-solid fa-envelope fa-3x contact-icons"></i><span class ="contact-info">info@hdgranite.co.uk</span></li>
            </ul>
          </div>
          <div class="contact-info-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5>Get a quote</h5>
          </div>
        </div>
      </div>
  </div>
</div>
