<div class="contact-wrapper">
  <div class="contact-info-section">
      <div class="contact-intro">
        <h3 class="home-header">Get in touch</h3>
        <p>Feel free to contact us directly, request a quote, or drop by our showroom in person. Our team will be happy to answer your questions or help you design the ideal kitchen.</p>
      </div>
      <div class="container-contact-page">
        <div class="row gy-5 contact-info-top">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-left">
            <h3>&mdash; Direct contact &mdash;</h3>
              <div class="contact-info-left-inner">
                <table class="contact-method-list">
                      <tr>
                        <td class="contact-info-list-item"><i class="fa-solid fa-phone fa-3x contact-icons"></i></td>
                        <td class="contact-info">0161 205 1827</td>
                      </tr>
                      <tr>
                        <td class="contact-info-list-item"><i class="fa-solid fa-mobile-screen fa-3x contact-icons"></td>
                        <td class="contact-info">07968 312 915</td>
                      </tr>
                      <tr>
                        <td class="contact-info-list-item"><i class="fa-solid fa-envelope fa-3x contact-icons"></td>
                        <td class="contact-info">info@hdgranite.co.uk</td>
                      </tr>
                  </table>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-right">
              <div class="contact-quote-text">
                <h3>&mdash; Get a quote &mdash;</h3>
                <p>Already know what you're looking for? Use our handy builder to request an price estimate from us:</p>
              </div>
              <a href="#" class="button-primary">Get a quote</a>
            </div>
          </div>
        </div>
        <div class="row gy-5 contact-info-bottom">
        <h3>&mdash; Visit us &mdash;</h3>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-map">
              <div id='map' data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
              <div class="showroom-image">
                <%= image_tag "showroom.png", class:"showroom-image" %>
              </div>
            </div>
            <div class="contact-address">
              <p>HD Granite & Quartz Ltd, Unit 15, Hendham Vale Industrial Park, Manchester, M8&nbsp;0AD</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-info-hours">
              <div class="opening-times-wrapper">
                <div class="opening-times">
                  <h4>Opening times</h4>
                    <table class="contact-hours-list">
                      <tr>
                        <td class="opening-time-left">Monday:</td>
                        <td class="opening-time-right">9am-5pm</td>
                      </tr>
                      <tr>
                        <td class="opening-time-left">Tuesday:</td>
                        <td class="opening-time-right">9am-5pm</td>
                      </tr>
                      <tr>
                        <td class="opening-time-left">Wednesday:</td>
                        <td class="opening-time-right">9am-5pm</td>
                      </tr>
                      <tr>
                        <td class="opening-time-left">Thursday:</td>
                        <td class="opening-time-right">9am-5pm</td>
                      </tr>
                      <tr>
                        <td class="opening-time-left">Friday:</td>
                        <td class="opening-time-right">9am-5pm</td>
                      </tr>
                      <tr>
                        <td class="opening-time-left">Saturday:</td>
                        <td class="opening-time-right">By appointment</td>
                      </tr>
                      <tr>
                        <td class="opening-time-left">Sunday:</td>
                        <td class="opening-time-right">By appointment</td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
