<%= render "shared/banner" %>
<div class="home-about-section">
  <h3 class="home-header">About us</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
            <i class="fa-solid fa-location-dot fa-2xl home-icons"></i>
            <h3 class="home-subheaders">Local craftsmen</h3>
            <p class="icon-text">A <strong>family-run business</strong>, fitting kitchens throughout Manchester and the Northwest.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
                <i class="fa-sharp fa-solid fa-award fa-2xl home-icons"></i>
                <h3 class="home-subheaders">Quality materials</h3>
                <p class="icon-text">We use <strong>only the finest</strong> granite, marble and quartz.</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
                <i class="fa-solid fa-stamp fa-2xl home-icons"></i>
                <h3 class="home-subheaders">Trusted industry-wide</h3>
                <p class="icon-text">An <strong>approved supplier and fabricator</strong> for all brands of quartz including Silestone, Caesarstone, Samsung, Tecnistone and Cimstone.</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
            <div>
                <i class="fa-solid fa-hourglass fa-2xl home-icons"></i>
                <h3 class="home-subheaders">A wealth of experience</h3>
                <p class="icon-text"><strong>Over 20 years' experience</strong> installing kitchen work tops and fitting kitchens.</p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="home-testimonial-section" data-controller="carousel">
  <h3 class="home-header">Testimonials</h3>
  <div class="carousel-container">
    <button class = "carousel-arrow carousel-arrow-left" data-action="click->carousel#left"><i class="fa-solid fa-chevron-left fa-2xl"></i></button>
      <div class="carousel-track-wrapper">
        <ul class="carousel-track">
            <li class="carousel-slide corousel-one active-slide" data-carousel-target="slideone">Slide 1</li>
            <li class="carousel-slide carousel-two hide-carousel" data-carousel-target="slidetwo">Slide 2</li>
            <li class="carousel-slide carousel-three hide-carousel" data-carousel-target="slidethree">Slide 3</li>
        </ul>
      </div>
    <button class = "carousel-arrow carousel-arrow-right" data-action="click->carousel#right"><i class="fa-solid fa-chevron-right fa-2xl"></i></button>
  </div>
  <div class="carousel-nav">
      <button class="carousel-indicator indicator-one active-indicator" data-action="click->carousel#indicatorOne" data-carousel-target="indicatorone"></button>
      <button class="carousel-indicator indicator-two" data-action="click->carousel#indicatorTwo" data-carousel-target="indicatortwo"></button>
      <button class="carousel-indicator indicator-three" data-action="click->carousel#indicatorThree" data-carousel-target="indicatorthree"></button>
    </div>
</div>
