<h3>About us</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div>
          <i class="fa-solid fa-location-dot fa-2xl home-icons"></i>
          <h3 class="home-subheaders">Local craftsmen</h3>
          <p class="icon-text">A <strong>family-run business</strong>, fitting kitchens throughout Manchester and the Northwest.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div>
              <i class="fa-sharp fa-solid fa-award fa-2xl home-icons"></i>
              <h3 class="home-subheaders">Quality materials</h3>
              <p class="icon-text">We use <strong>only the finest</strong> granite, marble and Quartz.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
        <div>
              <i class="fa-solid fa-stamp fa-2xl home-icons"></i>
              <h3 class="home-subheaders">Trusted industry-wide</h3>
              <p class="icon-text">An <strong>approved supplier and fabricator</strong> for all brands of quartz including Silestone, Caesarstone, Samsung, Tecnistone and Cimstone.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div>
              <i class="fa-solid fa-hourglass fa-2xl home-icons"></i>
              <h3 class="home-subheaders">A wealth of experience</h3>
              <p class="icon-text"><strong>Over 20 years' experience</strong> installing kitchen work tops and fitting kitchens.</p>
        </div>
    </div>
  </div>
</div>
