.home-banner{
  width: 90vw;
  margin: 2vw 5vw 2vw 5vw;
  padding: 10vh 0;
  color: #0A0C31;
  display: flex;
  justify-content: space-between;
}

.home-banner-text{
  padding-right: 2vw;
  h1{
    width: 100%;
    font-family: 'Assistant', sans-serif;
    font-size: 5rem;
  }
  h3{
    width: 100%;
    font-weight: lighter;
    font-family: 'Assistant', sans-serif;
    font-size: 3rem;
  }
}

.home-banner-image{
  border-radius: 15px;
  width: 35vw;
}
