.button-primary{
  background-color: #9ADBFF;
  color: #0A0C31;
  padding: 20px 40px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.5rem;
}

.button-div{
  padding: 40px 0px 0px 00px;
}
