.button-primary{
  background-color: #9ADBFF;
  color: #0A0C31;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
}

.button-primary:hover{
  text-decoration: none;
  background-color: #bbe7fe;
  color: #0A0C31;
}

.button-div{
  padding: 60px 0px 0px 00px;
}
