// .swiper-wrapper{
//   background-color: white;
//   border-radius: 10px;
//   width: 50vw;
// }

.carousel-container{
  height: 20vh;
  position: relative;
}
.carousel-track{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  list-style: none;
}

.carousel-slide{
  height: 100%;
  width: 80vw;
  position: absolute;
  left: 10VW;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.hide-carousel{
  visibility: hidden;
}

.carousel-arrow{
  position: absolute;
  top: 40%;
  transform: translateY(50%);
  background: transparent;
  border: none;
}

.carousel-arrow-right{
 right: 5vw;
}

.carousel-arrow-left{
  left: 5vw;
 }

 .fa-chevron-left{
  padding: 0 !important;
 }

 .fa-chevron-right{
  padding: 0 !important;
 }
