.navbar-gs{
  background-color: #0A0C31;
  height: 8vh;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  z-index: 20;
}

.navbar-wrap{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo{
  margin: 25px 20px 20px 5vw;
  font-family: Dancing Script;
  font-size: large;
}

.dropdown-button{
  background-color: transparent;
  border: none;
}

.nav-icon{
  color: white;
  visibility: hidden;
}

.nav-icon:hover{
  color: #9ADBFF;
}

.nav-list{
  list-style: none;
}

.collapse-dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-element{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: 5vw;
  z-index: 100;

  li{
    margin: 20px;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    a{
    list-style: none;
    color: white;
    text-decoration: none;
    }
    a:hover{
      color: #9ADBFF;
    }
  }

}


@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .dropdown-element{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 6vw;
  }
  .navbar-links{
    // visibility:hidden;
    flex-direction: column;
    background-color: #0A0C31;
    padding: 0;
    margin-right: -5vw;
  }

  .nav-icon{
    visibility: visible;
  }

  .navbar-logo{
    font-family: Dancing Script;
    font-size:medium;
    margin: 30px 20px 20px 6vw;
  }

  .hide-nav-list{
    visibility:hidden;
    height: 0;
  }

  .move-icon{
    margin-top: 30vh;
  }

}
