.navbar-gs{
  background-color: #0A0C31;
  height: 8vh;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  z-index: 20;
}

.navbar-wrap{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo{
  margin: 20px 20px 20px 0px;
}

.navbar-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  li{
    margin: 20px;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  li:hover{
    color: #9ADBFF;
  }
}
