<div class="materials-intro-section">
    <h1 class="home-header">Materials</h1>
    <p>Deciding on the right material can be difficult We offer a wide range of materials to suit your style. or select from one of our trusted suppliers</p>

  <ul>
  <% @brands.each do |brand| %>
    <li>
      <%= "#{brand.name}"%>
    </li>
  <% end %>
  </ul>

  <div class="container">
    <div class="row">
      <% @materials.each do |material| %>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <%= link_to image_tag("materials/#{material.photo}", class:"materials-tile") %>
          <h3 class="home-subheaders"><%= "#{material.name}"%></h3>
        </div>
      <% end %>
    </div>
  </div>

</div>
