<div class="materials-wrapper">
  <div class="materials-intro-section">
    <h1>Materials#index</h1>
    <p>Find me in app/views/materials/index.html.erb</p>
  </div>

  <ul>
  <% @brands.each do |brand| %>
    <li>
      <%= "#{brand.name}"%>
    </li>
  <% end %>
  </ul>
</div>
