<div class="materials-intro-section">
    <h1 class="home-header">Materials</h1>
    <p>Deciding on the right material can be difficult We offer a wide range of materials to suit your style. or select from one of our trusted suppliers</p>

  <ul>
  <% @brands.each do |brand| %>
    <li>
      <%= "#{brand.name}"%>
    </li>
  <% end %>
  </ul>

</div>
